/* The asterisk (*) here is the CSS universal selectors and is used to select different types of elements.
the command "box-sizing" tells the browser to account for any border and padding for an element's width and height.*/ 
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*this element specifies the background color of the body*/
body {
    background-color: #d9dcd6;
}

/*this class specifies the properties of the header section, for example, the "position property" specifies the type of positioning method used for an element i.e. relative, 
absolute, or fixed. Another property mentioned below is the "font-family property", which can hold several font names as a "fallback" system. If a browser does not support 
the first font, it tries the next font and so on. the "color property" is for color of the font.*/
.header {
    position: fixed;
    width: 100%;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* The "display property" specifies the display behavior (the type of rendering box) of an element. */
/* The "font-size property" specifies the size of the font used. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* this class has been created to have a different color to the characters "seo" within "Horiseon" in the header as well as footer section */
.seo {
    color: #929590;
}

/* The "float property" specifies how an element should float. In this case the "nav element" is floating on the right in the header section. 
Note: Absolutely positioned elements ignore the float property! */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* The "list-style-type property" sets the marker (such as a disc, character, or custom counter style) of a list item element. 
Note: Because this property is inherited, it can be set on a parent element (<ol> or <ul>) to make the same list styling apply to all the items inside.
In our case, we set this to "none" as this was not required on the website header section (as they are set as navigator tabs) */
.header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

/* The "text-decoration property" specifies the decoration added to text */
a {
    color: #ffffff;
    text-decoration: underline;
}

/* The "background-size property" specifies the size of the background images. 
The "background-position property" in CSS allows you to move a background image (or gradient) around within its container */
.main {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.search-engine-optimization, 
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img,
.online-reputation-management img,
.social-media-marketing img {
    max-height: 200px;
    width: 280px;
}

.float-left {
    float: left;
    margin-right: 25px;
} 

.search-engine-optimization h2,
.online-reputation-management h2,
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #ffffff;
}

p {
    font-size: 18px;
}

.sidebar {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead,
.benefit-brand,
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3,
.benefit-brand h3,
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img,
.benefit-brand img,
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #2a607c;
    color: #ffffff;
}

.footer h2 {
    font-size: 20px;
}